@font-face {
  font-family: 'Maple';
  src: url(./fonts/Maplestory-Light.woff2);
}

.todo__layout {
  max-width: 1000px;
  margin: 0rem auto;
  padding-top: 5rem;
}
.todo__container {
  width: 80%;
  gap: 1rem;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

.todo__container h1 {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.todo__input {
  width: 100%;
  height: 5rem;
  width: 100%;
  border: 1px solid #dddddd !important;
  font-size: 1rem;
  line-height: 1.45;
  letter-spacing: -0.04rem;
  border-radius: 8px;
  padding: 16px;
  margin-top: 12px;
}
.todo__input:focus {
  border: 1px solid tomato !important;
}
.todo__input__container label {
  display: inline-block;
  position: absolute;
  top: -5px;
  left: 14px;
  padding: 10px;
  background: white;
  font-size: 14px;
  color: #888;
  font-weight: bold;
}

.todo__input__container label span {
  color: #da4841;
  vertical-align: -1px;
}

input {
  border: 0;
  outline: none;
}

input::placeholder {
  color: #d9d9d9;
}

.todo__submit {
  background-color: rgb(85, 85, 85);
  color: white;
  padding: 0.5rem;
  border-radius: 1rem;
  font-size: 2rem;
  transition: 0.3s ease;
}

.todo__submit:hover {
  background-color: rgb(0, 0, 0);
}
.todo__box__continaer {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: row;
  width: 80%;
  margin: 2rem auto 1rem;
  gap: 5rem;
}
.todo__box {
  width: 400px;
  display: flex;
  grid-gap: 2rem;
  padding-bottom: 4rem;
  flex-direction: column;
  align-items: center;
}

.todo__box h4 {
  gap: 0.4rem;
  display: flex;
}
.todo__cardBox {
  width: 100%;
  background: #6d6d6d;
  border-radius: 1rem;
  color: white;
  transition: 0.2s linear;
  box-shadow: rgb(178 178 178 / 30%) 0 26px 30px -10px, rgb(31 31 31 / 71%) 0 16px 10px -10px;
  overflow: hidden;
}

.todo__title {
  font-size: 1.2rem;
  margin: 0;
}
.todo__desc {
  font-size: 0.9rem;
  margin: 0;
  opacity: 0.8;
}

.todo__cardBox:hover .todo__cardBox__button_box button {
  opacity: 1;
}

.todo__cardBox:hover {
  box-shadow: rgba(82, 82, 82, 0.68) 0 26px 30px -10px, rgba(81, 81, 81, 0.71) 0 16px 10px -10px;
}

.todo__cardBox:hover button {
  color: white;
}

.todo__cardBox__button_box {
  border-radius: 0 0 1rem 1rem;
  transition: 0.3s ease;
}
.todo__cardBox__button_box button {
  width: 50%;
  height: 35px;
  color: rgb(255, 255, 255);
  opacity: 0.8;
  transition: opacity 0.3s ease;
  font-size: 1.3rem;
}
